@font-face {
    font-family:"Oswald";
    src: url("fonts/Oswald-Regular.ttf");
}

@font-face {
    font-family:"Oswald-Bold";
    src: url("fonts/Oswald-SemiBold.ttf");
}
@font-face {
    font-family:"Oswald-Light";
    src: url("fonts/Oswald-Light.ttf");
}
@font-face {
    font-family:"Roboto";
    src: url("fonts/Roboto-Light.ttf");
}
@font-face {
    font-family:"Roboto-Bold";
    src: url("fonts/Roboto-Bold.ttf");
}

html{
    overflow-y: scroll;
}
body{
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
}
#header{
    background: url("images/titlebg.jpg") no-repeat;
    background-size: cover;
    background-position: center;

    padding-bottom: 100px;
    padding-top: 100px;
}
table {
    margin:0;
    padding:0;
}
#title{
    text-align: center;
    color: white;
    font-family: Oswald, serif;
    font-size: 40px;


}
h1{
    text-align: center;
    color: white;
    font-family: Oswald, serif;
    font-size: 24px;
    margin: 0;
}
.entry {
    z-index: 0;
}
h2 {
    text-align: left;
    color: black;
    font-family: Oswald-Bold, serif;
    font-size: 32px;
    margin:0;
}
h4 {
    margin:0;
    color: black;
    font-family: Oswald, serif;
}
h3 {
    text-align: left;
    color:tomato;
    font-family: Oswald-Light, serif;
    padding-top: 0;
    margin: 0;
}
p {
    text-align: left;
    color: black;
    font-family: Roboto, serif;
    font-size: 18px;
}
p a{
    text-align: left;
    color: tomato;
    font-family: Roboto, serif;
    margin:0;
    padding:0;
}
.nav {
    list-style-type: none;
    padding:0;
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 100%;*/
}
li {
    display: inline-block;
}
a {
    /*display: block;*/
    color: #000;
    padding: 8px 16px;
    width: auto;
    text-decoration: none;
    text-align: left;
    font-family: Oswald, serif;
    font-size: 18px;
}

li a.active {
    background-color: tomato;
    color: white;
}

img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}
figcaption {
    font-family: Roboto-Bold, serif;
    text-align: center;
}

#fancyrectangle {
    width:40%;
    height:6px;
    background-color: tomato;
    margin: auto;
}

.img-zoom{
    position: fixed;
    display: none;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    -webkit-animation-name: fadein;
    -webkit-animation-duration: 0.25s;
    animation-name: fadein;
    animation-duration: 0.25s;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9);
}
.zoom-content {
    margin: auto;
    padding-top: 40px;
    display: block;
    width: 80%;
    max-width: 1000px;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.25s;
    animation-name: zoom;
    animation-duration: 0.25s;
    transition-timing-function: ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.m-scene .scene-element {
    animation-duration: .325s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
}
.m-scene .scene-element--fade{
    -webkit-animation-name: fadeInUp;
    animation-name:fadeInUp;
}
.is-exiting .scene-element{
    -webkit-animation-name: fadeOutDown;
    animation-name:fadeOutDown;
}
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0);
        transform: translate3d(0, 50px, 0); }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none; }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0);
        -ms-transform: translate3d(0, 50px, 0);
        transform: translate3d(0, 50px, 0); }
    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none; } }
@-webkit-keyframes fadeOutDown {
    0% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0);
        transform: translate3d(0, 50px, 0); }
}
@keyframes fadeOutDown {
    0% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none; }

100% {
            opacity: 0;
           -webkit-transform: translate3d(0, 50px, 0);
    -ms-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0); }
}

.fadein {
    -webkit-animation-name: fadein;
    -webkit-animation-duration: 0.25s;
    animation-name: fadein;
    animation-duration: 0.25s;
}

.fadeaway {
    -webkit-animation-name: fadeaway;
    -webkit-animation-duration: 0.25s;
    animation-name: fadeaway;
    animation-duration: 0.25s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(.5);}
    to {-webkit-transform:scale(1);}
}

@keyframes zoom {
    from {transform:scale(.5);}
    to {transform:scale(1);}
}
@-webkit-keyframes fadein {
    from {opacity:0;}
    to {opacity:1;}
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadein {
    from {opacity:0;}
    to {opacity:1;}
}
@-webkit-keyframes fadeaway {
    from {opacity:1;}
    to {opacity:0;}
}

@keyframes fadeaway {
    from {opacity:1;}
    to {opacity:0;}
}